// .popup-content {
//     color: red;
// }

// .popup-arrow {
//     color: blue;
// }

// .popup-overlay {
//     background-color: #00000040;
// }

.modal {
    background-color: #fff;
    border: 1px solid #8f8f8f;
    border-radius: 15px;
    box-shadow: 0px 0px 7px #8f8f8f;
    padding: 20px;
}