@import '../../constants.scss';
// @import '../../common.scss';

.wrapper_header {
    background-color: $main-color;
    // color: $second-color;
}

.header {
    width: $page-width;
    margin: 0 auto;
    height: 70px;
    display: flex;
    flex-direction: row;
    margin: 0 auto;

    &__title {
        margin: 0;
        color: $second-color;
        text-decoration: none;
        outline: none;
    }

    &__cart {
        margin-left: auto;
        color: $second-color;
        font-size: 35px;
    }

    &__locale-switcher {
        width: 30px;
        height: 15px;
    }
}