@import '../../constants.scss';

.home {
    width: $page-width;
    margin: 20px auto;

    &__pagination-row {
        display: flex;
        justify-content: flex-end;
    }

    // &__pagination-count {
        // height: 30px;
    // }

    &__pagination {
        margin: 0;
        margin-left: 20px;
        padding: 0;
        display: flex;
    }

    &__pagination-item {
        display: block;
        list-style: none;
    }
}
