@import '../../constants.scss';

.home {
    width: $page-width;
    margin: 20px auto;

    &__pagination-row {
        display: flex;
        justify-content: flex-end;
    }

    &__pagination {
        margin: 0;
        margin-left: 20px;
        padding: 0;
        display: flex;
    }

    &__pagination-item {
        width: 25px;
        height: 25px;
        display: block;
        box-sizing: border-box;
        list-style: none;
        border: 1px solid $shadow-color;
        text-align: center;
        color: darken($shadow-color, 20);
    }

    &__pagination-link {
        text-decoration: none;
        color: inherit;
    }

    &__pagination-active {
        background-color: $main-color;
        color: $second-color;
    }
}
